ConfigParser==7.1.0
cx_Oracle==8.3.0
dogpile.core==0.4.1
Flask==3.0.3
flask_sqlalchemy==3.1.1
gevent==24.2.1
greenlet==3.1.1
importlib_metadata==8.5.0
patch==1.16
pgdb==0.0.11
pysqlcipher3==1.2.0
pysqlite==2.8.3
pytest==8.3.3
pytest_xdist==3.6.1
setuptools==58.0.4
sqlcipher3==0.5.3
Sybase==0.35
